.idea/*
.DS_Store
*~
etc/js/*/kobj-static*.js
etc/amazon_credentials.pm
/.project
/current_engine.diff
_*
parser/output/*
parser/lib*
parser/*.g
parser/*.jar
parser/semantic.cache
!parser/RuleSet.g
.includepath
.metadata
/.settings
*.bak
/i386-linux*
