
<Location /krl>
  AddHandler perl-script .pl
</Location>

PerlRequire /web/lib/perl/startup.pl


<LocationMatch /site/\d+/>
  SetHandler perl-script
  PerlHandler Kynetx
</LocationMatch>


<LocationMatch /site/\d+/log>
  SetHandler perl-script
  PerlHandler Kynetx::Logger
</LocationMatch>

<LocationMatch /site/\d+/js/>
  SetHandler perl-script
  PerlHandler Kynetx::KOBJ
</LocationMatch>




 