// This file is part of the Kinetic Rules Engine (KRE).
// Copyright (C) 2007-2011 Kynetx, Inc.
// Licensed under: GNU Public License version 2 or later

// Production servers
//KOBJ.init_host = 'init.kobj.net';
//KOBJ.eval_host = 'cs.kobj.net';
//KOBJ.callback_host = 'log.kobj.net';
//KOBJ.kns_port = '';

KOBJ.init_host = '<TMPL_VAR NAME=INIT_HOST>';
KOBJ.eval_host = '<TMPL_VAR NAME=EVAL_HOST>';
KOBJ.callback_host = '<TMPL_VAR NAME=CB_HOST>';
<TMPL_IF KNS_PORT>
KOBJ.kns_port = ':<TMPL_VAR NAME=KNS_PORT>';
<TMPL_ELSE>
KOBJ.kns_port = '';
</TMPL_IF>
KOBJ.default_error_stack_key = '<TMPL_VAR NAME=ERRORSTACK_KEY>';
KOBJ.kverify_domain = '<TMPL_VAR NAME=KVERIFY_DOMAIN>';
