<!--==== Email Reset Link Page ===============================-->
<div data-role="page" data-theme="a" id="page-link-sent">

  <!-- Header -->
  <div data-role="header">
     <div class="header-image">
        <img class="fuse-logo" src="<TMPL_VAR NAME="LOGO_IMG_URL">">
     </div>
  </div> <!-- /header -->

  <!-- Content -->
  <div data-role="content">
     <div class="center-wrapper">
      <h3><TMPL_VAR NAME="MSG"></h3>
     </div>

  </div><!-- content -->

  <!-- Footer -->
  <div data-role="footer" data-position="fixed">
    <h4>Fuse by Kynetx</h4>
  </div> <!-- /footer -->
</div><!-- /page -->



