    <!--===============================================-->
    <!--==== Login Page ===============================-->
    <div data-role="page" data-theme="a" id="page-login">

        <!-- Header -->
        <div data-role="header">
            <div class="header-image">
              <img class="fuse-logo" src="<TMPL_VAR NAME="LOGO_IMG_URL">">
            </div>
        </div> <!-- /header -->

        <!-- Content -->
        <div data-role="content">
<!-- /login/local/auth -->
<!-- /login/oauth/signin -->	
          <form action="<TMPL_VAR NAME="FORM_URL">" method="post" data-url="<TMPL_VAR NAME="PLATFORM">/login/local/auth" data-external-page="true" data-ajax="false" class="form-horizontal well cloudUI-form-login">
	    <TMPL_VAR NAME="HIDDEN_FIELDS">
	    <fieldset>
	      <div id="alertLogin" class="alert alert-info" style="margin-bottom:18px;display:none;">
	      </div>
              <ul data-role="listview" data-inset="true">
	         <li data-role="list-divider" >Sign in</li>
  		 <li id="alert" style="background: #FFEEEE; color:red; display:<TMPL_IF NAME="LOGIN_ERROR">show<TMPL_ELSE>none</TMPL_IF>" > 
                   <TMPL_VAR NAME="LOGIN_ERROR">
		 </li>
                 <li class="ui-field-contain">
                    <input type="text" name="user" id="login-username" value="<TMPL_VAR NAME="STICKY_USER">" placeholder="username">
                    <input type="password"  name="pass" id="login-password" value="" placeholder="password">
                 </li>
             </ul>

 	 <div class="form-actions" style="background-color:inherit;border:none;margin:0;padding-top:0;padding-bottom:0;">
	   <button type="submit" class="ui-btn ui-corner-all ui-btn-b ">Sign in</button>
 	 </div>
        </fieldset>
      </form>
      <div class="center-wrapper">
<!--       <div><a id="forgot" href="#page-forgot" class="">Forgot your password?</a></div> -->
       <div>(or <a id="create" href="<TMPL_VAR NAME="CREATE_URL">" class="">create an  account</a>)</div>
      </div>

      </div><!-- content -->

      <!-- Footer -->
        <div data-role="footer" data-position="fixed">
	  <h4>Fuse by Kynetx</h4>
        </div> <!-- /footer -->
    </div><!-- /page -->



