    <!--===============================================-->
    <!--==== Account Details Page =====================-->
    <div data-role="page" data-theme="a" id="page-account-details">

        <!-- Header -->
        <div data-role="header">
            <div class="header-image">
              <img class="fuse-logo" src="<TMPL_VAR NAME="LOGO_IMG_URL">">
            </div>
            <a href="<TMPL_VAR NAME="PLATFORM">/login/logout" id="logout" data-theme="a" class="ui-btn-right">Logout</a>
        </div> <!-- /header -->

								
        <div data-role="content">
  	  <TMPL_VAR NAME="PAGEFORM">

        <ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true">
          <li data-role="list-divider">Authorized Applications</li>
          <TMPL_LOOP NAME=APP_LIST>
            <li>
               <a href="<TMPL_VAR NAME=PLATFORM>/login/deauthorize_app_confirm?app_info_name=<TMPL_VAR NAME=APP_INFO_NAME>&developer_eci=<TMPL_VAR NAME=DEVELOPER_ECI>">
                <img src="<TMPL_VAR NAME=APP_INFO_ICON>">
                <h2><TMPL_VAR NAME=APP_INFO_NAME></h2>
                <p><TMPL_VAR NAME=APP_INFO_DESCRIPTION></p>
                <p><TMPL_VAR NAME=eci_name></p>
                <p><TMPL_VAR NAME=eci></p>
                <p class="ui-li-aside"><TMPL_VAR NAME=LAST_ACTIVE></p>
               </a>
            </li>
          </TMPL_LOOP>
	</ul>

        </div> <!-- /content -->

        <!-- Footer -->
        <div data-role="footer" data-position="fixed">
	  <h4><TMPL_VAR NAME="FOOTER_TEXT"></h4>
        </div> <!-- /footer -->

    </div><!-- /page -->
