    <!--===============================================-->
    <!--==== Account Details Page =====================-->
    <div data-role="page" id="page-account-details">

        <!-- Header -->
        <div data-role="header">
            <h2>Kynetx Guard Tour Login</h2>
            <a href="<TMPL_VAR NAME="PLATFORM">/login/logout" data-theme="b" class="ui-btn-right">Logout</a>
        </div> <!-- /header -->

								
        <div data-role="content">
			<TMPL_VAR NAME="PAGEFORM">
        </div> <!-- /content -->

        <!-- Footer -->
        <div data-role="footer"  data-theme="b">
            <h2>Thank You</h2>
        </div> <!-- /footer -->

    </div><!-- /page -->
