  <!-- ========================================================================================= -->    
<div data-role="page" id="ologin">
	<div data-role="dialog" class="dialog-actionsheet ui-page ui-body-a ui-dialog ui-overlay-a
			ui-page-active" data-url="/login" data-external-page="true" tabindex="0" 
			data-overlay-theme="a" data-title="KMCP landing page" style="min-height: 380px;">  			 
			<div data-role="content" data-theme="a" class="ui-corner-top ui-corner-bottom ui-content ui-body-a" role="main">
				<h3>Kynetx Micro Cloud Platform (OAUTH)</h3>	  					
					<form action="<TMPL_VAR NAME="THOST">/login/oauth/signin" method="post" data-url="/login/oauth/signin" data-external-page="true" data-ajax="false">
						<div style="padding:10px 20px;">
						  <h3>Please sign in</h3>
						  <TMPL_VAR NAME="LOGIN_ERROR">
						  <input type="hidden" name="developer_eci" value="<TMPL_VAR NAME="ECI">" >
						  <input type="hidden" name="client_state" value="<TMPL_VAR NAME="STATE">" >
				          <input type="hidden" name="uri_redirect" value="<TMPL_VAR NAME="REDIRECT">" >
				          <label for="un" class="ui-hidden-accessible ui-input-text">Username:</label>
				          <input type="text" name="user" id="un" value="" placeholder="username" data-theme="b" data-mini="true" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset">
		
				          <label for="pw" class="ui-hidden-accessible ui-input-text">Password:</label>
				          <input type="password" name="pass" id="pw" value="" placeholder="password" data-theme="b"  data-mini="true" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset">
		
				    	  <button type="submit" data-inline="true" data-theme="b"  data-mini="true" class="ui-btn-hidden" aria-disabled="false">Sign in</button>
				    	  <a href="#" data-role="button" data-inline="true" data-rel="back" data-mini="true" class="ui-btn-hidden" aria-disabled="false">Cancel</a>
						</div>
					</form>
					<div class="ui-grid-a" data-mini="true">
						<div class="ui-block-a">&nbsp;</div>
						<div class="ui-block-b">
							<a href="#pcreate" data-role="text" data-rel="dialog" data-transition="slidedown" 
								data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true"
								data-wrapperels="span" class="ui-shadow">
							create an account
							</a>
						</div>
					</div>	  						  					
			</div>  	
			<p><ul>
				<li>eci: 	<TMPL_VAR NAME="ECI"></li>
				<li>state: 	<TMPL_VAR NAME="STATE"></li>
				<li>uri:  <TMPL_VAR NAME="REDIRECT"></li>
				</ul></p>
	</div>  			
