<html>
<head>
<title>Describe Ruleset <TMPL_VAR NAME=RULESET_ID></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
	var foo = <TMPL_VAR NAME="point">;
	$(document).ready(function() {
		var chart;
		$(document).ready(function() {
			var $reporting = $('#reporting');
			
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					type: 'scatter',
					zoomType: 'xy'		
					},
				credits: {
					text: 'TENX'
				},
				title : {
					text: "TENX (<small>" + <TMPL_VAR NAME="numpoints"> + " points</small>)"
					},
				plotOptions: {
					series: {
						scatter: {
							marker : {
								radius : 2,
								hover : {
									enabled : true,
									lineColor : 'rgb(100,100,100)'
								}
							}
						},
						cursor: 'pointer',
						point: { 
							events: {
								click: function(event) {
								    //console.log(event.currentTarget);
									var id = event.currentTarget.id;
									var s = foo[id];
									var str = "<table>";
									var main_ref = window.location.href;
									
									var series = "";
									var any_ref = main_ref;
									if (s.hasOwnProperty('series')) {
										var a = 'any';
										var b = s['series'];
										any_ref = main_ref.replace(b,a);
									}
									var re = /\?/;
									var sep = '?';
									var match = re.exec(any_ref);
									if (match) {
										sep = "&";
									}
									any_ref = any_ref + sep;
									//str = str + "<tr><td colspan=2>" + any_ref + "</td></tr>";
									for(var prop in s) {
										if(s.hasOwnProperty(prop)) {
										    var eRef = any_ref + prop + "=" + s[prop];
											var x = "<tr><td>" + prop + "</td><td><a href=\""+ eRef +"\">" + s[prop] + "</a></td></tr>";
											str = str + x;
										}
											
									}
									str = str + "</table>";
									$("#reporting").html(str);
								}
							}
						}
					}
				},
				xAxis : {
					labels: {
						rotation: -45,
						align: 'right',
						type: 'datetime',
						formatter: function() {
							var date = new Date(0);
							date.setUTCSeconds(this.value);
							return Highcharts.dateFormat('%a %d %b %H:%M:%S', date);
						}
					}
					
				},
				yAxis: {
					min : 0,
					title : {
						text : 'Duration (ms)'
					},
					plotBands :  <TMPL_VAR NAME=BANDS> 
				},	
				legend: {
					layout: 'vertical',
					floating: false,
					backgroundColor: '#FFFFFF',
					align: 'right',
					verticalAlign: 'top',
					y: 60,
					x: -60
					},
				tooltip: {
					formatter: function() {
					    //console.log(this.point);
					    var id = this.point.id;
						//console.log(foo[id]);
						return '<b>' + this.series.name + '</b><br/>' + 
							this.x + ' : ' + this.y + ' ';
					}
				},	
				series: <TMPL_VAR NAME=DATA>
			});
		});
	});
</script>

</head>
<body>

<p>
<div id="container" style="width: 100%; height: 400px">
</div>
<div id="reporting"></div>

<pre>
<code>

</code>
</pre>

</p>




</body>
</html>