<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>error.tmpl</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="http://www.kynetx.com/wp-content/themes/newtheme/newtheme/style.css" type="text/css" media="screen" />
    <style type="text/css" media="screen">
    #header{
    background: #FFF;
                }

.menu ul li.widget ul li{
     background: url("http://www.kynetx.com/wp-content/themes/newtheme/newtheme/images/listbullet.gif") no-repeat right top;
         font-family:Verdana;
         font-size:15px;
         color:#191919;
                }





    #tabs {
        border-bottom: 0px none #FF0000;

        }

    </style>

        <script type="text/javascript" src="http://www.kynetx.com/wp-content/themes/newtheme/newtheme/scripts/utils.js"></script>

<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.kynetx.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.kynetx.com/wp-includes/wlwmanifest.xml" />
<link rel='index' title='Kynetx - This Changes Everything' href='http://www.kynetx.com' />
<meta name="generator" content="WordPress 2.9.1" />
<link rel="shortlink" href="" />
<link rel="stylesheet" href="http://www.kynetx.com/wp-content/plugins/wp-syntax/wp-syntax.css" type="text/css" media="screen" />

<!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="http://www.kynetx.com/wp-content/themes/newtheme/newtheme/styleie7.css" />
<![endif]-->

  </head>

  <body>
    <div id="wrapper">
    <div id="wrapper2">
    <div id="wrapper3">
    <div id="wrapper4">
    <div id="header">
       <h3><a href="http://www.kynetx.com/"><img src="https://kynetx-images.s3.amazonaws.com/KynetxLogo273.png" alt="Kynetx Logo" /></a></h3>

    </div>
<div style="clear:both;">&nbsp;</div>
<div id="content-inner">

        <h2>Secret Page of Awesomeness</h2>
        <p>Pardon us for the interruption, but we just wanted to let you know that you are awesome.</p>
        <p>Not just any old awesome, but REALLY awesome!</p>
        <p>In the future, we are planning on creating an animated picture of a cute kitty giving you a
        'high five' for your awesomeness, but until then, here is some debug information from something
        that went horribly awry:</p>
        <code>
Ruleset: <TMPL_VAR NAME=RULESET_ID>
OAuth Passed:
<TMPL_LOOP NAME=passed_oauth>  <TMPL_VAR NAME=name>: <TMPL_VAR NAME=value>
</TMPL_LOOP>
OAuth From Memcache:
<TMPL_LOOP NAME=session_oauth>  <TMPL_VAR NAME=name>: <TMPL_VAR NAME=value>
</TMPL_LOOP>
Session: <TMPL_VAR NAME=SESSION_ID>
Cookie: <TMPL_VAR NAME=COOKIE>
<TMPL_VAR NAME=DATA>
<TMPL_VAR NAME=MODATA>
<TMPL_VAR NAME=EMODATA>

</code>
    </div>
    </div>

    </div> <!-- eof main -->



<div style="clear:both;"></div>
</div>


</div>
    <div id="footer">
    <div id="footer-left">
<div id="footer-left-inner">Kynetx, Inc. - 3098 Executive Parkway, Suite 325
                <br />
              Lehi, Utah 84043 - 801 649 4601</div>

    </div>
    <div id="footer-right" >
        <p>Copyright 2007 - 2010 Kynetx Inc. All rights reserved</p>
                <p><a href="http://www.kynetx.com/about/">About Us</a> - <a href="http://code.kynetx.com">Blog</a> - <a href="http://www.kynetx.com/privacy.html">Privacy</a> - <a href="http://appbuilder.kynetx.com">AppBuilder</a></p>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
