<!DOCTYPE html>
<html>
    <head>
    	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    	<script src="http://cs.kobj.net/js/jquery.ui.touch-punch.min.js"></script>
    	<script src="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.js"></script>
    	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.css">		
		<style>
			.ui-dialog .ui-dialog-contain { margin-top: 0 }		
			label.error { 
				float: left; 
				color: red; 
				font-weight:bold
			}	
			label.okay { 
				float: left; 
				color: green; 
			}	
		</style>
    </head>
    
    <body class="ui-mobile-viewport ui-overlay-a" screen_capture_injected="true">
		<TMPL_VAR NAME="DIALOG">		
    </body>
</html>
