#!/usr/bin/perl -w 

use lib qw(/web/lib/perl);
use strict;

use Test::More;
use Test::LongString;

use APR::URI;
use APR::Pool ();


# most Kyentx modules require this
use Log::Log4perl qw(get_logger :levels);
Log::Log4perl->easy_init($INFO);

use Kynetx::Test qw/:all/;
use Kynetx::<TMPL_IF NAME="MODULE_DIR"><TMPL_VAR NAME=MODULE_DIR>::</TMPL_IF><TMPL_VAR NAME=MODULE_NAME> qw/:all/;
use Kynetx::JavaScript qw/:all/;

<TMPL_IF NAME="MODULE_DIR">
my $preds = Kynetx::<TMPL_VAR NAME=MODULE_DIR>::<TMPL_VAR NAME=MODULE_NAME>::get_predicates();
my @pnames = keys (%{ $preds } );

plan tests => 1 + int(@pnames);

<TMPL_ELSE>

plan tests => 1;

</TMPL_IF>

my $BYU_req_info;
$BYU_req_info->{'referer'} = 'http://www.byu.edu'; # Utah (BYU)
$BYU_req_info->{'pool'} = APR::Pool->new;

my $no_referer_req_info;
$no_referer_req_info->{'pool'} = APR::Pool->new;

my %rule_env = ();


<TMPL_IF NAME="MODULE_DIR">
# check that predicates at least run without error
my @dummy_arg = (0);
foreach my $pn (@pnames) {
    ok(&{$preds->{$pn}}($BYU_req_info, \%rule_env,\@dummy_arg) ? 1 : 1, "$pn runs");
}
</TMPL_IF>



ok(1,"dummy test");

1;


